body {
	font-family: Helvetica, Arial, Sans-Serif;
	color: #333;
}

.container, .footer {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

.intro {
	width: 450px;
	float: left;
	margin-right: 14px;
}

.intro p {
	font-size: 12px;
}

.column {
	float: left;
	margin-right: 5px;
}

.footer {
	font-size: 12px;
}

.imgix {
  margin: 0 auto;
  width: 906px;
  text-align: center;
  vertical-align: top;
  padding-top: 36px;
  border-top: solid 1px #dadfe3;
  margin-top: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans;
}

.imgix > div {
  display: inline-block;
  margin-right: 36px;
  vertical-align: middle;
}

.imgix-copy p {
  text-align: left;
  color: #6f808c;
  opacity: 80%;
  vertical-align: top;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.imgix-cta a {
  width: 108px;
  color: #fff;
  text-decoration: none;
  background-color: #ee5229;
  border-radius: 4px;
  padding: 6px 12px;
  border-top: solid 2px #ed6343;
  border-bottom: solid 2px #c03522;
  box-shadow: 0 2px #c3c5c5;
  font-size: 14px;
}